:root {
    --button-text: "{{ config_data_json.buttonText }}";
    --button-width: "{{ config_data_json.buttonStyles.width }}";
    --button-height: "{{ config_data_json.buttonStyles.height }}";
    --button-border-radius: "{{ config_data_json.buttonStyles.borderRadius }}";
    --button-background-color: "{{ config_data_json.buttonStyles.backgroundColor }}";
    --button-color: "{{ config_data_json.buttonStyles.color }}";
    --button-font-size: "{{ config_data_json.buttonStyles.fontSize }}";
    
    --slider-width: "{{ config_data_json.sliderStyles.width }}";
    --slider-height: "{{ config_data_json.sliderStyles.height }}";
    --slider-background-color: "{{ config_data_json.sliderStyles.backgroundColor }}";
    --slider-border-radius: "{{ config_data_json.sliderStyles.borderRadius }}";
    --slider-display: "{{ config_data_json.sliderStyles.display }}";
    --slider-z-index: "{{ config_data_json.sliderStyles.zIndex }}";

    --close-button-background-color: "{{ config_data_json.closeButtonStyles.backgroundColor }}";
    --close-button-color: "{{ config_data_json.closeButtonStyles.color }}";
    --close-button-padding: "{{ config_data_json.closeButtonStyles.padding }}";
    --close-button-font-size: "{{ config_data_json.closeButtonStyles.fontSize }}";
    --close-button-border-radius: "{{ config_data_json.closeButtonStyles.borderRadius }}";

    /* Slide Styles */
    --slide-margin: "{{ config_data_json.slideStyles.margin }}";
    --slide-background-color: "{{ config_data_json.slideStyles.backgroundColor }}";
    --slide-padding: "{{ config_data_json.slideStyles.padding }}";
    --slide-border-radius: "{{ config_data_json.slideStyles.borderRadius }}";
    --slide-box-shadow: "{{ config_data_json.slideStyles.boxShadow }}";
  }

  /* Blinking effect for the button */
  @keyframes blink {
    0% {
      background-color: #28a745;
    }
    50% {
      background-color: #ffdc00;
    }
    100% {
      background-color: #28a745;
    }
  }

  #product-slider {
    width: var(--slider-width);
    height: var(--slider-height);
    background-color: var(--slider-background-color);
    border-radius: var(--slider-border-radius);
    display: var(--slider-display);
    z-index: var(--slider-z-index);
    position: fixed;
    top: 0;
    right: -30%;
    transition: right 0.3s ease-in-out;
  }

  #open-slider-btn {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: var(--button-color);
    font-size: var(--button-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
  }

  #close-btn {
    background-color: var(--close-button-background-color);
    color: var(--close-button-color);
    padding: var(--close-button-padding);
    font-size: var(--close-button-font-size);
    border-radius: var(--close-button-border-radius);
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .slide {
    margin: var(--slide-margin);
    background-color: var(--slide-background-color);
    padding: var(--slide-padding);
    border-radius: var(--slide-border-radius);
    box-shadow: var(--slide-box-shadow);
  }