<div class="app-block-container">
  <h2>Customer Information</h2>
  <p>Customer Name: {{ customer.first_name }} {{ customer.last_name }}</p>
  <p>Email: {{ customer.email }}</p>
  <p>Customer ID: {{ customer.id }}</p>
</div>